@charset "UTF-8";

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html, body {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #3F84D9;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95vw;
    max-width: 600px;
}

header, footer {
    color: white;
    text-align: center;
    padding: 10px 0px;
    font-weight: bold;
    text-shadow: 1px 1px 4px #00000060;
}

main > div {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 15px 5px #00000040;
    padding: 15px;
}

#res {
    margin-top: 10px;
    min-height: 60px;
    border: 1px solid lightgray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

select {
    min-width: 230px;
}