@charset "UTF-8";

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
}

html, body {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #418bc4;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90vw;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px #00000050;
    background-color: white;
    padding: 20px;
}

input {
    border: 2px solid #418bc4;
    border-radius: 10px;
    height: 30px;
    padding: 0px 10px;
}

input[type=button] {
    background-color: #99c3e3;
}

input[type=button]:hover {
    color: white;
    background-color: #418bc4;
    text-shadow: 1px 1px 2px #00000070;
}

section > form, section > div {
    margin: auto;
}
    
#tab {
    font-size: 1em;
    text-align: center;
    width: fit-content;
    border: 1px solid lightgray;
    padding: 0px 15px;
}

header, footer {
    padding: 20px 0px;
    color: white;
    text-align: center;
}